[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
sprelf-json = ">=2025.09.30.3"
tomlkit = "*"
httpx = "*"
"ruamel.yaml" = "*"
airporttime = "*"
fast-flights = "*"
ratelimit = "*"

[requires]
python_version = "3.11"
